@model WebAppSalesMVC.Models.ViewModels.SubsidiaryFormViewModel

@{
    ViewData["Title"] = "Create new subsidiary";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Subsidiary.Name" class="control-label"></label>
                <input asp-for="Subsidiary.Name" class="form-control" />
                <span asp-validation-for="Subsidiary.Name" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsidiary.Email" class="control-label"></label>
                <input asp-for="Subsidiary.Email" class="form-control" />
                <span asp-validation-for="Subsidiary.Email" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsidiary.Opening" class="control-label"></label>
                <input asp-for="Subsidiary.Opening" class="form-control" />
                <span asp-validation-for="Subsidiary.Opening" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsidiary.FixedCost" class="control-label"></label>
                <input asp-for="Subsidiary.FixedCost" class="form-control" />
                <span asp-validation-for="Subsidiary.FixedCost" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsidiary.State" class="control-label"></label>
                <select asp-for="Subsidiary.StateId" asp-items="@(new SelectList(Model.States, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default alert-danger" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}