@model WebAppSalesMVC.Models.ViewModels.CreateSubViewModel
@{
    ViewData["Title"] = "Edit subsidiary";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Edit">
    <div>
        <label asp-for="Subsidiary.Name"></label>
    </div>
    <div>
        <input asp-for="Subsidiary.Name" class="inputBox" />
    </div>
    <div>
        <span asp-validation-for="Subsidiary.Name" class="text-warning"></span>
    </div>
    <div>
        <label asp-for="Subsidiary.Email"></label>
    </div>
    <div>
        <input asp-for="Subsidiary.Email" class="inputBox" />
    </div>
    <div>
        <span asp-validation-for="Subsidiary.Email" class="text-warning"></span>
    </div>
    <div>
        <label asp-for="Subsidiary.Opening"></label>
    </div>
    <div>
        <input asp-for="Subsidiary.Opening" class="inputBox" />
    </div>
    <div>
        <span asp-validation-for="Subsidiary.Opening" class="text-warning"></span>
    </div>
    <div>
        <label asp-for="Subsidiary.FixedCost"></label>
    </div>
    <div>
        <input asp-for="Subsidiary.FixedCost" class="inputBox" />
    </div>
    <div>
        <span asp-validation-for="Subsidiary.FixedCost" class="text-warning"></span>
    </div>
    <div>
        <label asp-for="Subsidiary.StateId"></label>
    </div>
    <div>
        <select asp-for="Subsidiary.StateId" asp-items="@(new SelectList(Model.States, "Id", "Name"))" class="inputBox"></select>
    </div>
    <div>
        <span asp-validation-for="Subsidiary.StateId" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="Subsidiary.Id" />
    </div>
    <hr />
    <input type="submit" value="Save" class="myBottom confirmBotton" />
    <a asp-action="Index" class="myBottom backBotton">Back</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}