@model WebAppSalesMVC.Models.State
@{
    ViewData["Title"] = "Create state";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-lg-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn alert-success" />
                <a asp-action="Index" class="btn alert-warning">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}