@model WebAppSalesMVC.Models.State
@{
    ViewData["Title"] = "Create state";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>@ViewData["Title"]</h1>
<hr />
<body>
    <form asp-action="Create">
        <div>
            <label asp-for="Name"></label>
        </div>
        <div>
            <input asp-for="Name" class="inputBox"/>
        </div>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <hr />
            <input type="submit" value="Create" class="myBottom confirmBotton" />
            <a asp-action="Index" class="myBottom backBotton">Back</a>
    </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}