@model WebAppSalesMVC.Models.State
@{
    ViewData["Title"] = "Delete state";
}
<link rel="stylesheet" href="~/css/Style.css"/>
<h1>@ViewData["Title"]</h1>
<hr />
<body>
    <div>
        <label>
            @Html.DisplayNameFor(model => model.Name)
        </label>
    </div>
    <div class="boxInfo">
        @Html.DisplayFor(model => model.Name)
    </div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="myBottom deleteBotton" />
        <a asp-action="Index" class="myBottom backBotton">Back</a>
    </form>
</body>