@model WebAppSalesMVC.Models.State
@{
    ViewData["Title"] = "Details state";
}
<link rel="stylesheet" href="~/css/Style.css" />
<h1>@ViewData["Title"]</h1>
<hr />
<body>
    <div>
        <label>@Html.DisplayNameFor(model => model.Name)</label>
    </div>
    <div class="boxInfo">@Html.DisplayFor(model => model.Name)</div>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="myBottom editBotton">Edit</a>
    <a asp-action="Index" class="myBottom backBotton">Back</a>
</body>