@model WebAppSalesMVC.Models.State
@{
    ViewData["Title"] = "Edit state";
}
<link rel="stylesheet" href="~/css/Style.css"/>
<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
    </div>
    <div>
        <input asp-for="Name" class="inputBox" />
    </div>
    <div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <hr />
    <div>
        <input type="submit" value="Save" class="myBottom confirmBotton" />
        <a asp-action="Index" class="myBottom backBotton">Back</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
