<h1>Search Sales</h1>
<div class="col-sm-6">
    <form class="form-horizontal" asp-action="SearchSimpleByDate">
        <fieldset>
            <legend>Simple search</legend>
            <div class="form-group">
                <label for="dateMin" class="col-lg-2 control-label">Min Date</label>
                <div class="col-lg-10">
                    <input type="date" name="dateMin" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="dateMax" class="col-lg-2 control-label">Max Date</label>
                <div class="col-lg-10">
                    <input type="date" name="dateMax" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-sm-6">
    <form class="form-horizontal" asp-action="SearchGroupingByDate">
        <fieldset>
            <legend>Grouping search</legend>
            <div class="form-group">
                <label for="dateMin" class="col-lg-2 control-label">Min Date</label>
                <div class="col-lg-10">
                    <input type="date" name="dateMin" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="dateMax" class="col-lg-2 control-label">Max Date</label>
                <div class="col-lg-10">
                    <input type="date" name="dateMax" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
